
<button class="btn btn-default" data-toggle="modal" data-target="#Modal1" style="background-color:deepskyblue; margin-block-end:15px;">
	Yeni Hakkımızda Yazı Girişi 
</button>

<div class="modal" id="Modal1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title">
					Hakkımızda Metin Girişi
				</h2>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<form method="post" action="/About/AddAbout/">
				<div class="modal-body">
					<label>Hakkımızda Metin 1</label>
					<input type="text" name="AboutDetails1" class="form-control" />
					<br />
					<label>Hakkımızda Metin 2</label>
					<input type="text" name="AboutDetails2" class="form-control" />
					<br />
					<label>Hakkımızda Görsel 1</label>
					<input type="text" name="AboutImage1" class="form-control" />
					<br />
					<label>Hakkımızda Görsel 2</label>
					<input type="text" name="AboutImage2" class="form-control" />
					<br />
					<button class="btn btn-info" id="added">Bilgileri Kaydet</button>
				</div>
			</form>
		</div>
	</div>
</div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/Scripts/jquery-3.4.1.js"></script>

<script>
    $('#added').click(function () {
        swal({
            title: "Eklendi!",
            text: "Hakımızda Yazısı Eklendi!",
            icon: "success",
            button: false
        });
    });
</script>







































@*<button class="btn btn-primary" data-toggle="modal" data-target="#Modal1">
		Yeni Hakkımızda Yazı Girişi
	</button>

	<div class="modal" id="Modal1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h2 class="modal-title">Hakkımızda Metin Girişi</h2>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form action="/About/AddAbout" method="post">
					<div class="modal-body">
						<label>Hakkında Metin 1</label>
						<input type="text" name="AboutDetails1" class="form-control" />
						<br />
						<label>Hakkında Metin 2</label>
						<input type="text" name="AboutDetails2" class="form-control" />
						<br />
						<label>Hakkında Görsel 1</label>
						<input type="text" name="AboutImage1" class="form-control" />
						<br />
						<label>Hakkında Görsel 2</label>
						<input type="text" name="AboutImage2" class="form-control" />
						<br />
						<button class="btn btn-info">Kaydet</button>
					</div>
				</form>
			</div>
		</div>
	</div>*@